//-------------------------字型定義-------------------------//
$mfont: Microsoft JhengHei, 微軟正黑體, Arial, Helvetica, sans-serif, Aparajita;
//-------------------------顏色定義-------------------------//
$maincolor: #4ac982;
$colorblack: #222; 
$colorwhite: #fff;
$textcolor: #555;
$color4: #000;
$color7: #000;
