.index{
	.left-box{
		width: 50%;
	}
	.right-box{
		width: 50%;
	}
	img.bg_decoration01{
		width: 30%;
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
	}
	img.bg_decoration02{
		width: 5%;
		position: absolute;
		top: 10%;
		left: 0;
		z-index: -1;
	}
	img.bg_decoration04{
		width: 5%;
		position: absolute;
		top: 50%;
		right: 0;
		z-index: -1;
	}
	img.bg_decoration05{
		width: 7%;
		position: absolute;
		top: 70%;
		left: 0;
		z-index: -1;
	}
/*-----------------header-----------------*/
	header{
		width: 90%;
		max-width: 1400px;
		margin: 0 auto;
		padding: 120px 0 0 ;
		a.logo{
			display: table;
			width: 70%;
			max-width: 430px;
			margin: 0 auto;
			float: none;
		}
		.right-box{
			margin: 0;
			padding: 0;
			.language-box{
				display: table;
				margin: 5vh auto 0;
			}
			p{
				margin-top: 15px;
				margin-right: 10px;
				font-size: 1.5rem;
				font-weight: bold;
				color: #000;
				float: left;
			}
			a{
				float: left;
				&.language{
					display: block;
					width: 120px;
					height: 60px;
					padding: 2vh 15px;
					font-size: 1.5rem;
					font-weight: bold;
					color: #000;
					background-image: url(../svg/bg_language.svg);
					background-size: auto 100%;
					&.en-box{
						margin-left: 30px;
						padding-left: 23px;
					}
				}
				&:hover{
					transform: translate(0,5px);
					-webkit-transform: translate(0,5px);
					-moz-transform:translate(0,5px);
				}
			}
		}
		a.menu{
			width: 60px;
			height: 60px;
			position: fixed;
			top: 55px;
			right: 5vw;
			z-index: 9;
			&:hover{
				transform: translate(0,5px);
				-webkit-transform: translate(0,5px);
				-moz-transform:translate(0,5px);
			}
		}
	}//header
/*-----------------main-visual-----------------*/
	.main-visual{
		margin-top: 5vh;
		padding-bottom: 15vh;
		background-image: url(../svg/grass.svg);
		background-repeat: repeat-x;
		background-size: auto 40px;
		background-position: bottom;
		i.arrow-down{
			display: block;
			width: 30px;
			height: 25px;
			margin: 0 auto;
			padding-top: 5vh;
			clear: both;
			img{
				animation-name: arrow-down;
				animation-duration: 300ms;
				animation-timing-function: ease-in-out;
				animation-iteration-count: infinite;
			}
		}
		@keyframes arrow-down{
			0%{
				padding-top: 0px;
			}
			50%{
				padding-top: 5px;
			}
			100%{
				padding-top: 0px;
			}
		}
	}
	.main-visual-box{
		width: 90%;
		max-width: 1400px;
		margin: 0 auto;
		.main-visual-pic{
			position: relative;
			img.main-visual-pic02, img.main-visual-pic03{
				height: 70px;
				position: absolute;
			}
			img.main-visual-pic02{
				top: 48%;
				right: -20px;
				animation-name: up-down02;
				animation-duration: 300ms;
				animation-timing-function: ease-in-out;
				animation-iteration-count: infinite;
			}
			img.main-visual-pic03{
				top: 38%;
				left: -20px;
				animation-name: up-down03;
				animation-duration: 300ms;
				animation-timing-function: ease-in-out;
				animation-iteration-count: infinite;
			}
			@keyframes up-down02{
				0%{
					top: 48%;
				}
				50%{
					top: 50%;
				}
				100%{
					top: 48%;
				}
			}
			@keyframes up-down03{
				0%{
					top: 38%;
				}
				50%{
					top: 40%;
				}
				100%{
					top: 38%;
				}
			}
		}//main-visual-pic
		.main-visual-btn{
			padding-top: 2vh;
			a{
				width: calc(25% - 10px);
				max-width: 160px;
				height: 150px;
				margin: 0 5px 20px 5px;
				float: left;
				position: relative;
				img{
					position: absolute;
					bottom: 0;
				}
				&:nth-child(1), &:nth-child(8){
					margin-left: 13%;
				}
				@keyframes shake-rotate{
					from{
						transform:rotate(2deg);
					}
					to{
						transform:rotate(-2deg);
					}
				}
				&:hover{
					animation-name: shake-rotate;
					animation-duration: 100ms;
					animation-timing-function: ease-in-out;
					animation-iteration-count: infinite;
				}
			}
		}//main-visual-btn
	}//main-visual-box
/*-----------------theme-media-----------------*/
	.theme-media{
		padding: 20vh 0;
		position: relative;
		img.bg_decoration03{
			width: 35%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
		}
		img.title{
			width: auto;
			height: 100px;
			margin-left: 40px;
		}
		.media-box{
			width: 100%;
			padding-top: 58.5%;
			background-image: url(../svg/bg_media_d.svg);
			background-repeat: no-repeat;
			background-size: 100% auto;
			position: relative;
			.media{
				width: 76%;
				height: 0;
				padding-bottom: 42.7%;
				overflow: hidden;
				position: absolute;
				top: 13.5%;
				left: 7.1%;
			}
			img, iframe{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}//theme-media
/*-----------------theme-media-----------------*/
	.theme-conception{
		width: 90%;
		max-width: 1000px;
		overflow: hidden;
		margin: 0 auto 20vh;
		padding: 10vh 5vw 5vh;
		background-color: #000;
		border: 1px #fff solid;
		.html{
			margin-bottom: 10vh;
			font-size: 1.2rem;
			color: #fff;
		}
		i.arrow-down{
			display: block;
			width: 30px;
			height: 25px;
			margin: 0 auto;
			clear: both;
			img{
				animation-name: arrow-down;
				animation-duration: 300ms;
				animation-timing-function: ease-in-out;
				animation-iteration-count: infinite;
			}
		}
	}//theme-conception
/*-----------------news-area-----------------*/
	.news-area{
		img.title{
			width: auto;
			height: 100px;
			margin-left: 40px;
		}
		.news-list{
			overflow: hidden;
			li{
				width: calc(100% / 2);
				height: 640px;
				margin-bottom: 10vh;
				float: left;
				.pic{
					width: 100%;
					margin-bottom: 30px;
					padding-top: 68.5%;
					background-image: url(../svg/bg_news_list.svg);
					background-repeat: no-repeat;
					background-size: 100% auto;
					position: relative;
					a{
						display: block;
						padding: 15px 20px 20px 15px; 
						position: absolute;
						top: 0;
						left: 0;
						transition: all 0.5s;
						&:hover{
							opacity: 0.7;
							transition: all 0.5s;
						}
					}
					img{
						width: 100%;
						height: auto;
					}
				}
				time{
					display: block;
					margin-bottom: 10px;
					font-size: 1rem;
					font-weight: bold;
					color: #000;
				}
				a.title{
					display: -webkit-box;
					overflow: hidden;
					margin-bottom: 20px;
					font-size: 1.3rem;
					font-weight: bold;
					color: #000;
					line-height: 1.5;
					-webkit-line-clamp: 2; //行數
					-webkit-box-orient: vertical;
					white-space: normal;
					transition: all 0.5s;
					&:hover{
						opacity: 0.7;
						transition: all 0.5s;
					}
				}
				p.text{
					display: -webkit-box;
					overflow: hidden;
					font-size: 1rem;
					color: #000;
					line-height: 1.8;
					-webkit-line-clamp: 5;
					-webkit-box-orient: vertical;
					white-space: normal;
				}
				&:nth-child(odd){
					padding-right: 20px;

				}
				&:nth-child(even){
					padding-left: 20px;
				}
			}
		}//news-list
		a.more{
			display: table;
			margin: 0 auto 10px;
			img{
				height: 60px;
			}
			&:hover{
				transform: translate(0,5px);
				-webkit-transform: translate(0,5px);
				-moz-transform:translate(0,5px);
			}
		}
	}//news-area
}//index













@media all and (max-width: 1024px) {
.index{
	.left-box{
		width: 100%;
	}
	.right-box{
		width: 100%;
	}
	img.bg_decoration01{
		width: 60%;
	}
	img.bg_decoration02{
		width: 10%;
	}
	img.bg_decoration04{
		width: 10%;
	}
	img.bg_decoration05{
		width: 15%;
	}
/*-----------------header-----------------*/
	header{
		width: 100%;
		padding: 25px 5vw;
		a.logo{
			width: 200px;
			margin: 0;
		}
		.right-box{
			display: block;
			p{
				margin-top: 10px;
				font-size: 1rem;
			}
			a{
				float: left;
				&.language{
					width: 80px;
					height: 40px;
					padding: 10px;
					font-size: 1rem;
					&.en-box{
						margin-left: 15px;
						padding-left: 15px;
					}
				}
			}
		}
		a.menu{
			width: 50px;
			height: 50px;
			top: 32px;
			right: 5vw;
		}
	}//header
/*-----------------main-visual-----------------*/
	.main-visual{
		margin-top: 0;
		// padding-bottom: 15vh;
		i.arrow-down{
			width: 20px;
		}
	}
	.main-visual-box{
		.main-visual-pic{
			img.main-visual-pic02, img.main-visual-pic03{
				height: 50px;
			}
			img.main-visual-pic02{
				right: -10px;
			}
			img.main-visual-pic03{
				left: -10px;
			}
		}//main-visual-pic
		.main-visual-btn{
			padding-top: 5vh;
			a{
				width: 40%;
				max-width: 100%;
				height: 350px;
				margin: 0 5% 20px;
				&:nth-child(1), &:nth-child(8){
					margin-left: 5%;
				}
			}
		}//main-visual-btn
	}//main-visual-box
/*-----------------theme-media-----------------*/
	.theme-media{
		padding: 10vh 0;
		img.bg_decoration03{
			width: 70%;
		}
		img.title{
			height: 80px;
			margin-left: 0;
		}
	}//theme-media
/*-----------------theme-media-----------------*/
	.theme-conception{
		margin: 0 auto 10vh;
		padding: 6vh 5vw 5vh;
		.html{
			margin-bottom: 5vh;
			font-size: 1rem;
		}
		i.arrow-down{
			width: 20px;
		}
	}//theme-conception
/*-----------------news-list-----------------*/
	.news-area{
		padding: 0;
		img.title{
			height: 80px;
			margin-left: 0;
		}
		.news-list{
			li{
				width: 100%;
				height: auto;
				margin-bottom: 10vh;
				.pic{
					margin-bottom: 20px;
				}
				a.title{
					margin-bottom: 10px;
				}
				&:nth-child(odd){
					padding-right: 0;

				}
				&:nth-child(even){
					padding-left: 0;
				}
			}
		}//news-list
		a.more{
			img{
				height: 50px;
			}
		}
	}//news-area
}//index
}//max-width: 1024px




@media all and (max-width: 450px) {
.index{
	.main-visual-box{
		.main-visual-btn{
			a{
				height: 120px;
			}
		}//main-visual-btn
	}//main-visual-box	
}
}//max-width: 1024px



